body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;
}
:root{
    --heading:rgb(255, 255, 255);
    --headingline:rgb(255, 255, 255);
}
/*header*/


.mobnav{
    background: rgba(0,0,0,0.7);
    width: 0;
    padding-left: 0;
    padding-top: 20%;
    position: fixed;
    top: 40px;
    right: 0;
    height: 100vh;
    z-index: -1;
}
.navbar{
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    padding: 0;
    z-index: 10;
}
.navbar-brand{
    margin: 0px 15px;
    color: white;
}
.menubtn{
    background: transparent;
    border: none;
    color: white;
}
.menubtn:focus{
    outline: none;
}
.nav-link{
    color: white;
    font-size: 8vw;
    transition: 200ms;
}

.nav-link:hover{
    color: rgb(190, 190, 190);
}
.cactive{
    color: rgb(255, 0, 149) !important;
    transform: scale(1.2);
}
/*headerover*/

/*hero*/

.hero{
    position: relative;
    z-index: 3;
    padding: 0;
    padding-top: 15vh;
    padding-left:10% ;
    padding-right: 25%;
    transition: 500ms;
    background-image:url(../images/heromob.png);
    height: 100vh;
    background-size: 100% 100%;
}
.hero > h2{
    color: white;
    font-size:30px ;
}

/*heroover*/

.menu,.order,.reserve,.location,.contact{
    color: rgb(255, 255, 255);
    background-color: rgb(63, 63, 63);
    text-align: center;
} 
/*linedh4*/
h4{
    color: var(--heading);
    position: relative;
}
h4::before{
    content: "";
    left: 0;
    top: 55%;
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--headingline);
}
span{
    padding:0px 10px ;
    background-color:rgb(63, 63, 63) ;
    height: min-content;
    position: relative;
    z-index: 2;
}

/*//linedh4*/


.menutoggle{
    color: white;
    background-color: transparent;
    border: none;
}
.menutoggle:focus{
    box-shadow: none;
    outline: none;
}

.menu h6{
    display: inline-block;
    color: rgb(216, 214, 214);
    font-size:12px;
    margin-right: 10px;
}
.menu h5{
   display: inline-block;
    font-size:16px;
    margin-right: 10px; 
}
.menu .fa{
    font-size: 10px;
}

.menu-container{
    position: relative;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
        "maincourse"
        "beverages"
        "desserts";
}
.main-course{
    grid-area: maincourse;
}
.main-course-item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
        "rices"
        "chickendishes";
}
.rices{
    grid-area: rices;
}
.rice-item,.hot-item,.cold-item,.dessert-item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
}
.chicken-dishes{
    grid-area: chickendishes;
}
.chickendish-item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,auto);
}
.beverages{
    grid-area: beverages;
}
.beverages-item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
        "hot"
        "cold";
}
.hot{
    grid-area: hot;
}
.cold{
    grid-area: cold;
}
.desserts{
    grid-area: desserts;
}
/*card*/
.card{
    position: relative;
    padding: 0;
    background-color: transparent;
    margin: 5px auto;
    border: none;
    height: 50vw;
    min-height: 0px;
    width: 40%;
    min-width: 150px;
    text-align: center;
}
.card-title{
    margin-top: 5px;
    transition: 500ms;
    font-size: 15px;
    color: rgb(255, 255, 255);
    z-index: 3;
}
.imgbox{
    padding: 0px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.imgbox img{
    width:auto;
    max-width: 100%;
    height: 60%;
    object-fit: scale-down;
}
.cardoverlay{
    display: none;
    position: absolute;
    transition: 400ms;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.card p{
    color: white;
    z-index: 3;
    font-size: 20px;
    display: none;
    transition: 750ms;
}
.card:hover .card-title{
    transform: scale(1.2) translateY(-40vw);
}
.card:hover .cardoverlay{
    display: initial; 
}
.card:hover p{
    display: initial;
    transform: translateY(-10vw);
}
/* cardover*/
.orderitem{
    margin: auto;
    width: 40%;
    max-width: 80px;
    margin: auto;
    margin-bottom: 30px;
}
.reserve input{
    color: white;
    background: rgb(37, 37, 37);
}
.reserve input:focus{
    box-shadow: none;
}
.reserve input:hover{
    color: rgb(204, 198, 198);
}
.modal h5{
    color: black;
    justify-self: center;
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
}
.mheader{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content:space-between;
}
.mheader button{
    background-color: transparent;
    align-self: flex-end;
    border: none;
    color: black;
}
.mheader button:focus{
    outline: none;
}
.forms{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.forms input{
    margin: 10px auto;
    border: none;
    color: white;
}
.forms input::placeholder{
    color: whitesmoke;
}
.alertoverlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
#alert .modal-dialog .modal-content{
    display: flex;
    flex-direction: column;
    word-break: break-all;
    align-items: center;
    padding:10px 20px ;
    text-align: center;
}
#alert h6{
    color: black;
    font-size: 20px;
    margin-bottom: 20px;    
}
#alert .form-control{
    width: 150px;
    background-color: black;
    color: white;
}
#alert .form-control:focus{
    box-shadow: none;
}
.location,.contact{
    padding-bottom: 1px;
}
.location p{
    margin-bottom: 8px;
}
.contact ul{
    margin-top: 10px;
    padding: 0;
}
.contact i{
    color: white;
    font-size: 20px;
}
footer{
    font-size: 15px;
    text-align: center;
    background-color: rgb(17, 15, 15);
    color: white;
    height: 600px;
}
footer p{
    margin-bottom: 2px;
}
hr{
    margin: 1px;
}
footer a{
    color: white;
}


@media  (min-width:300px){
    .hero > h2{
        font-size: 40px;
    }

}
@media  (min-width:450px){
    .nav-link{
        font-size: 25px;
    }
}
@media  (min-width:530px){
    .hero > h2{
        font-size: 60px;
    }

}
@media  (min-width:600px){
    .nav-link{
        font-size: 30px;
    }
}
@media (min-width:768px){
    .hero{
        background-image:url(../images/herodt.png);
        padding-top: 45vh;
        padding-left:5% ;
        padding-right: 35%;
    }
    .mobnav{
        display: flex !important;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 20%;
        width: 100%;
        padding-top: 0;
        position: fixed;
        height: auto;
        top: auto;
        right: auto;
        bottom: auto;
        z-index: -1;
    }
    .nav-link{
        font-size: 15px;
    }
    .navbar-brand{
        margin-left: 7%;

    }
    .navbar button{
        display: none;
    }
    .menu-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(1,auto);
        grid-template-areas: 
            "maincourse beverages desserts";
    }
    .main-course-item{
        width: 100vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1,auto);
        grid-template-areas: 
            "rices chickendishes";
    }
    .beverages-item{
        width: 100vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1,auto);
        grid-template-areas: 
            "hot cold";
    }
    .rice-item,.hot-item,.cold-item,.dessert-item{
        width: 100vw;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,auto);
    }
    .chickendish-item{
        width: 100vw;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,auto);
    }
    .card{
        margin: 20px auto;
        height: 25vw;
        min-height: 320px;
        width: 60%;
        min-width: 250px;
    }
    .card-title{
        font-size: 1.5vw;
    }
    .card:hover .card-title{
        transform: scale(1.2) translateY(-230px);
    }
    .card:hover .card-title{
    transform: scale(1.2) translateY(-280px);    
    }
    .card:hover p{
        display: initial;
        transform: translateY(-20px);
    }




















}
